/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
    --background-clr: hsl(185, 75%, 39%);
    --big-text-clr: hsl(229, 23%, 23%);
    --regular-text-clr: hsl(227, 10%, 46%);
    --neutral-clr: hsl(0, 0%, 59%);

    --name-stats-fs: 18px;
    --main-ff: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}